*, html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	height: auto;
	/* line-height: 1.5; */
	background-color: #F1F3F6;
	/* background-color: black; */
	color: #34495E
} 

.wrapper {
	height: 100vh;
	/* border: 1px solid green; */
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
}

.header, .nav, .main, .footer {
	width: 100%;
	/* border: 2px solid black;  */
	padding: 2px calc((100% - 800px) / 2);
	padding-bottom: 0px;
}

.header {
	padding-top: 33px;
	padding-bottom: 27px;
}

a {
	text-decoration: none;
	/* height: 100%; */
	color: #6A6C6F;
}

.nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: #F7F9FA;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.nav a {
	margin-right: 1rem;
}

.main {
    min-height: calc(100vh - 200px);
	height: auto;
    overflow: auto;
	padding-top: 1rem;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.footer {
	border-top: 2px solid black;
	padding-top: 15px;
	padding-bottom: 0.85rem;
	margin-bottom: 0;
	background: #F7F9FA;
	/* height: 100%; */
	color: #6A6C6F;
	text-align: center;
}

.users {
	border-collapse: collapse;
	border: 1px solid black;
	margin: auto;
	margin-top: 1rem;
}

.users th {
	border: 1px solid black;
	margin-top: 2rem;
	padding: 1rem;
}

.users td {
	border: 1px solid black;
	padding: 1rem;
}

.roles {
	border-collapse: collapse;
	border: 1px solid black;
	margin: auto;
	margin-top: 1rem;
}

.roles th {
	border: 1px solid black;
	margin-top: 2rem;
	padding: 1rem;
}

.roles td {
	border: 1px solid black;
	padding: 1rem;
}

.grades {
	border-collapse: collapse;
	border: 1px solid black;
	margin: auto;
	margin-top: 1rem;
}

.grades th {
	border: 1px solid black;
	margin-top: 2rem;
	padding: 1rem;
}

.grades td {
	border: 1px solid black;
	padding: 1rem;
}