*, html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	height: auto;
	/* line-height: 1.5; */
	background-color: #F1F3F6;
	/* background-color: black; */
	color: #34495E
} 

.wrapper {
	height: 100vh;
	/* border: 1px solid green; */
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	/* border: 1px solid red; */
	margin: 0;
	padding: 0;
}

.header, .nav, .main, .footer {
	width: 100%;
	border: 2px solid black; 
	padding: 2px calc((100% - 800px) / 2);
	padding-bottom: 0px;
}

.header {
	padding-top: 33px;
	padding-bottom: 27px;
}

.nav {
	padding-top: 17px;
	padding-bottom: 15px;
}

.main {
    min-height: calc(100vh - 200px);
	height: auto;
    overflow: auto;
}

.footer {
	border-top: 1px solid #E4E5E7;
	padding-top: 17px;
	padding-bottom: 15px;
	margin-bottom: 0;
	background: #F7F9FA;
	/* height: 100%; */
	color: #6A6C6F;
	text-align: center;
}